# Cities Scoring - Clustering

This application aims to compare major European cities on different parameters. 

Choose the parameters to use for the comparison in the Features Selector menu. 
You have to select at least two of them. In case more than four parameters are selected, a dimension reduction technique is applied to visualize the cities in a 3D space. The second Features Selector menu gathers the parameters that are related to the competitive pressure. Some of these parameters (#scooter service, #moped service, #bike service) are binary and should be chosen with care.

A clustering is then performed. The quality of this clustering is measured with a silhouette score. 1 is the best score and -1 is the worst. You can choose the number of clusters you want. Otherwise, we perform a partioning in k clusters where the k chosen is the one giving the best score.

We also provide, for each cluster, the average value of the Nb. of Loc, the average Rotation and the max Rotation of the cities present in this cluster. If there is no operator in any of the cities in the cluster, target values are NaN.

The raw data is given at the end.

## Hold down the control key to do the selection :

In [23]:
import pandas as pd
import numpy as np
import voila
import ipywidgets as widgets
import IPython
from ipywidgets import interact, interactive, fixed, interact_manual
pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import plotly.express as px
import plotly.graph_objects as go

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier

from sklearn.metrics import silhouette_score
from scipy.signal import argrelextrema


def normalize_data(df):
    scaler = MinMaxScaler()
    df_normalized = scaler.fit_transform(df)
    df_normalized = pd.DataFrame(df_normalized)
    df_normalized.columns = df.columns
    df_normalized.index = df.index
    return df_normalized

drop_columns = ["Statut","Tiering","how to drive","relief","part de l'environnement","ville innovante",
                "Annual income per capita","implementation period","condition of admissions",
                "Number of  yearly trip per inhabitant in PT 2018",
                "Commute distance by public transit (km)",
                "Annual income per capita","Year 1st moped service",
                'Mopeds / active capita',
               "motorization rate (#vehicles per 100 inhab.)",
               'Commute time by public transit (min)',
               'Average price of 2h parking ','average precipitation per year (mm)']

def data_preprocessing(df, drop_columns):
    
    df = df.drop(drop_columns,axis=1)
    df = df.dropna(axis=1,how="all")
    df = df.dropna(how="all")
    
    df["#scooter service"] = df["#scooter service"].map({'Yes': 1, 'No': 0})
    df["#bike service"] = df["#bike service"].map({'Yes': 1, 'No': 0})
    df["#moped service"] = df["#moped service"].map({'Yes': 1, 'No': 0})
    
    df["#scooter service"].fillna(0,inplace=True)
    df["#bike service"].fillna(0,inplace=True)
    df["#moped service"].fillna(0,inplace=True)
    df["#competitor mopeds "].fillna(0,inplace=True)
    df["#competitors"].fillna(0,inplace=True)
    df["#mobility service available"].fillna(0,inplace=True)


    avg_tourist = df["tourist by year 2019"].mean()
    df["tourist by year 2019"].fillna(avg_tourist,inplace=True)
    
    avg_road_quality = df['Road Quality  (coya)'].mean()
    df['Road Quality  (coya)'].fillna(avg_road_quality,inplace=True)
    
    avg_coya_index = df['Coya Bicycle Index'].mean()
    df['Coya Bicycle Index'].fillna(avg_coya_index,inplace=True)
    
    avg_coya_index = df['Coya Sharing Score'].mean()
    df['Coya Sharing Score'].fillna(avg_coya_index,inplace=True)
    
    df = df.rename({'Country Environmental Awareness Indicator':"Country Environmental Awareness",
                   "Covid Stringency Mean Index (by country)":"Covid Stringency Index",
                   'density (capita/square)':'Density (capita/square)',
                   'income per capita per month (net€)':'Income per capita per month (net€)',
                   'congestion rate (2019)':'Congestion rate (2019)',
                   'average temperature':'Average temperature',
                   'tourist by year 2019':'Tourist by year (2019)'}, axis='columns')
    

    df = df.set_index('City')
    
    return df

#df_excel = pd.read_excel('..\Downloads\City Scoring Dashboard - Steve (4).xlsx', sheet_name='Critérisation')

df_init = df_excel
df_init.columns = df_init.iloc[1]
df_init = df_init.loc[2:]
df_init = data_preprocessing(df_init, drop_columns)

Y_avg = df_init["Average in 2020"]
Y_max = df_init["Max 2020"]
Y_tot = df_init["Total 2020-2021"]

df_init.drop(["Average in 2020","Max 2020","Total 2020-2021"],axis=1,inplace=True)
adversarial_features = ["#scooter service","#bike service","#moped service","#competitor mopeds ","#competitors","#mobility service available"]
other_features = list(df_init.drop(adversarial_features,axis=1).columns)


df_normal = normalize_data(df_init)

def reduce_dim(df,dim):
    
    X = PCA(dim, svd_solver='full').fit_transform(df)
    PCA_df = pd.DataFrame(X)
    PCA_df.index = df.index
    
    return (PCA_df)

def get_clusters(df,nb_features,k_selected,features_selected):
    
    df.columns = [i for i in range(len(df.columns))]
    
    if k_selected == "Default":
        
        labels = []
        scores = []

        for nb_clusters in np.arange(2,8):

            kmeans = KMeans(nb_clusters, random_state=42)
            kmeans.fit(df)
            label = kmeans.predict(df)
            score = silhouette_score(df, label, metric='euclidean')
            labels.append(label)
            scores.append(score)

        max_score = np.max(scores)
        max_idx = np.argmax(scores)
        best_labels = labels[max_idx]
    
    else:
        
        kmeans = KMeans(k_selected, random_state=42)
        kmeans.fit(df)
        best_labels = kmeans.predict(df)
        max_score = silhouette_score(df,best_labels, metric='euclidean')
        

    
    df["Label"] = best_labels
    df["City"] = df.index
    df["Rotation avg"] = Y_avg.astype("float64")
    df["Rotation max"] = Y_max.astype("float64")
    df["Nb. Loc"] = Y_tot.astype("float64")
    df[features_selected] = df_init[features_selected].astype("float64")
    
    
    clusters_target_values = df.groupby("Label").mean().drop([i for i in range(nb_features)],axis=1)
    clusters_target_values = clusters_target_values.apply(lambda row : round(row,2),axis=1)
    clusters_target_values["Nb. Loc"] = clusters_target_values["Nb. Loc"].apply(lambda x : "{:e}".format(x))
    clusters_target_values.index = [f' Cluster {i}' for i in range(len(clusters_target_values.index))]
    
    
    print(f'Clustering score {round(max_score,3)}')
    print()
    
    for label in set(best_labels):
        cluster = (df.index)[df["Label"] == label]
        cluster = list(cluster)
        print(f'- cluster {label} : {cluster}')
        print()
    
    display(clusters_target_values)
    
    return (df)

def visualize_3D(df):
    
    fig = px.scatter_3d(df, x=0, y=1, z=2, color="Label",text="City",width=1000, height=600)
    fig.update_layout(showlegend=False)
    fig.show()  
    
def visualize_2D(df):
    
    fig = px.scatter(df, x=df.columns[0], y=df.columns[1], color="Label",text="City",width=1000, height=600)
    fig.update_traces(textposition='top center')
    fig.update_layout(showlegend=False)
    fig.show()
        
def run_your_clustering(features_selected_1,features_selected_2,k_selected):
    
    print('\n' * 3)
    
    features_selected = list(features_selected_1) + list(features_selected_2)
    
    if len(features_selected) >= 3:
        df_select = df_normal[features_selected]
        PCA_df = reduce_dim(df_select,3)
        cluster_df = get_clusters(PCA_df,nb_features = 3,k_selected=k_selected,features_selected=features_selected)
        visualize_3D(cluster_df)
    
    elif len(features_selected) == 2:
        df_select = df_normal[features_selected]
        cluster_df = get_clusters(df_select,nb_features = 2,k_selected=k_selected,features_selected=features_selected)
        visualize_2D(cluster_df)
        
    else:
        print("Choose at least 2 parameters")
    
    

interact(run_your_clustering,
         
         features_selected_1=widgets.SelectMultiple(
options=other_features,
value=['Density (capita/square)','Income per capita per month (net€)','Congestion rate (2019)'],
rows=16,
description='Features selected',
disabled=False
),
         
         features_selected_2=widgets.SelectMultiple(
options=adversarial_features,
value=[],
rows=6,
description='Features selected',
disabled=False
),
         
        k_selected=widgets.Dropdown(
    options=["Default",2,3,4,5,6],
    value="Default",
    description='K Value:',
    disabled=False
));


display(df_init)

interactive(children=(SelectMultiple(description='Features selected', index=(0, 1, 2), options=('Density (capi…

1,Density (capita/square),Income per capita per month (net€),Congestion rate (2019),% active population,Average temperature,#mobility service available,#scooter service,#bike service,#moped service,#competitors,#competitor mopeds,Tourist by year (2019),Covid Stringency Index,Superficie (km2),Raining days,Avg cost of a monthly pass for PT,Safety score,Coya Sharing Score,Coya Bicycle Index,Road Quality (coya),Country Environmental Awareness
City,,,,,,,,,,,,,,,,,,,,,
amsterdam,5200,3501.5,0.26,0.82,10.7,2,0.0,0.0,1.0,2,371.010753,8.835400e+06,58,219,132,97.5,66.32,33.000000,60.240000,61.710000,64.7
rotterdam,1996,3227.75,0.25,0.794,10.8,3,0.0,1.0,1.0,3,918.774194,1.200000e+06,58,324,131,80,64.13,30.703704,35.786296,46.467778,64.7
bordeaux,5225,3072.25,0.32,0.737,13.8,3,1.0,1.0,1.0,2,193.602150,1.490000e+06,59.5,49,173,45,56.62,77.000000,45.420000,59.400000,53.4
barcelona,16043,2871.83,0.29,0.806,15.5,3,1.0,1.0,1.0,10,5281.930108,7.016600e+06,62.1,102,55,40,54.49,32.000000,33.700000,54.150000,50.6
paris,20386,3862.58,0.39,0.815,11.7,4,1.0,1.0,1.0,2,2961.000000,1.908790e+07,59.5,105,111,75,46.81,81.000000,37.530000,58.510000,53.4
berlin,4207,3048,0.32,0.839,10.1,4,1.0,1.0,1.0,3,1188.779570,6.195800e+06,60.9,892,106,82,58.86,17.000000,42.590000,50.790000,69.8
the_hague,5441,3778.67,0.28,0.794,10.9,3,1.0,1.0,1.0,3,317.483871,1.000000e+06,58,98,198,52.5,74.84,30.703704,35.786296,46.467778,64.7
rome,2239,2791.92,0.38,0.739,15.8,3,1.0,0.0,1.0,4,1373.118280,1.031700e+07,67.2,1285,78,35,47.87,2.000000,27.030000,34.170000,46.1
eindhoven,2533,3148.5,0.22,0.804,10.9,1,0.0,0.0,1.0,2,101.994624,7.700000e+05,58,89,154,89.5,75.95,30.703704,35.786296,46.467778,64.7
hamburg,2414,3337.67,0.34,0.859,9.8,4,1.0,1.0,1.0,2,331.537634,5.558457e+06,60.9,755,129,91.5,56.74,27.000000,44.970000,54.900000,69.8
valencia,5862,2712.25,0.2,0.816,17.6,2,0.0,1.0,1.0,5,2012.424731,5.558457e+06,62.1,135,46,41.5,74.34,30.703704,35.786296,46.467778,50.6
milano,7520,2802.83,0.31,0.764,13,4,1.0,1.0,1.0,5,2940.403226,6.604400e+06,67.2,182,83,39,56.44,31.000000,29.240000,35.260000,46.1
madrid,5337,3119,0.23,0.836,14.5,4,1.0,1.0,1.0,4,4104.736559,5.597800e+06,62.1,604,63,54.6,70.58,10.000000,34.490000,46.600000,50.6
torino,6736,2469.83,0.27,0.748,12,4,1.0,1.0,1.0,2,169.747312,5.558457e+06,67.2,130,81,38,49.72,30.703704,35.786296,46.467778,46.1
prague,2700,1963.75,0.29,0.857,9.8,2,0.0,1.0,1.0,2,120.672043,9.150900e+06,54.9,496,94,21.2,75.84,5.000000,25.870000,37.340000,51.3
lisbon,5055,2120.17,0.33,0.895,16.7,4,1.0,1.0,1.0,2,444.188172,3.639900e+06,63.3,100,77,40,71.76,8.000000,29.510000,44.940000,61.2
munchen,4747,3587.42,0.3,0.841,8.8,2,1.0,0.0,1.0,2,862.655914,4.205500e+06,60.9,310,129,57.6,82.35,30.703704,35.786296,46.467778,69.8
seville,4873,2454.75,0.21,0.771,18.8,1,0.0,0.0,1.0,3,617.419355,2.000000e+06,62.1,141,52,35,69.29,38.000000,37.680000,52.180000,50.6
malaga,1435,2530.17,0.2,0.771,17.6,2,1.0,0.0,1.0,3,262.016129,1.400000e+06,62.1,398,52,39.9,72.44,30.703704,35.786296,46.467778,50.6
bruxelles,7460,3297.08,0.38,0.753,10.7,4,1.0,1.0,1.0,4,383.908602,4.276000e+06,56.7,32,199,50,49.2,39.000000,30.980000,40.750000,57.4
dusseldorf,2854,3536.25,0.24,0.8,10.9,3,1.0,0.0,1.0,1,275.295699,3.050000e+06,60.9,217,156,79,68.98,19.000000,40.160000,50.870000,69.8
stockholm,5174,3255.08,0.27,0.829,7.3,2,1.0,0.0,1.0,1,617.419355,2.721000e+06,55,188,105,92.2,54.9,15.000000,29.460000,51.970000,71.4
antwerp,2552,3096.17,0.32,0.773,11,1,0.0,0.0,1.0,2,92.349462,2.100000e+06,56.7,205,179,49,58.14,89.000000,60.510000,53.370000,57.4
koln,2681,3115.83,0.26,0.815,10.7,3,1.0,0.0,1.0,2,444.231183,3.830000e+06,60.9,405,192,98.5,56.87,21.000000,42.070000,50.040000,69.8
warsaw,3449,2277,0.4,0.699,9.3,2,1.0,0.0,1.0,1,69.913978,2.827000e+06,55.9,517,93,24.1,73.56,21.000000,30.060000,29.500000,51.3
krakow,2359,1717,0.45,0.73,9,2,1.0,0.0,1.0,1,53.500000,2.910000e+06,55.9,327,147,23.3,73.82,29.000000,27.930000,33.390000,51.3
toulouse,4064,2667.42,0.28,0.75,13.8,2,0.0,1.0,1.0,1,376.704301,5.600000e+06,59.5,118,97,51,53.87,30.703704,35.786296,46.467778,53.4
zaragoza,685,2768.17,0.14,0.826,15.6,3,1.0,1.0,1.0,2,690.155914,5.558457e+06,62.1,973,51,42.9,69.29,30.703704,35.786296,46.467778,50.6
florence,3755,2508.17,0.25,0.769,13.6,4,1.0,1.0,1.0,3,4.650538,5.125700e+06,67.2,974,88,35,61.75,30.703704,35.786296,46.467778,46.1
birmingham,4200,3351.58,0.28,0.853,9.7,0,0.0,0.0,0.0,0,0.000000,1.112000e+06,65.6,268,125,75.9,40.44,30.703704,35.786296,46.467778,54.1
dublin,4588,3271.42,0.48,0.678,9.4,0,0.0,1.0,0.0,2,0.000000,5.462100e+06,65.5,118,129,140,50.46,42.000000,29.970000,43.560000,54.1
geneve,12669,6553.42,0.33,0.951,10,0,0.0,0.0,0.0,0,0.000000,2.150000e+05,48.3,16,109,63.6,72.74,9.000000,37.880000,66.490000,65.4
kuala_lumpur,17300,1858.67,0.37,0.976,25.8,0,0.0,0.0,0.0,0,0.000000,1.407240e+07,60.6,243,287,20.2,35.12,30.703704,35.786296,46.467778,53.1
london,5701,4047.08,0.38,0.752,10.8,0,0.0,1.0,0.0,4,0.000000,1.955990e+07,65.6,1572,109,175,47.19,11.000000,29.720000,42.610000,54.1
lyon,8804,3509.42,0.3,0.93,12,0,0.0,1.0,0.0,1,0.000000,6.500000e+06,59.5,48,104,64,54.86,30.703704,35.786296,46.467778,53.4
marseille,3279,4057.92,0.34,0.91,15,0,0.0,1.0,0.0,1,0.000000,5.000000e+06,59.5,241,53,48,41.05,30.703704,35.786296,46.467778,53.4
moscow,8537,2756.83,0.59,0.663,5.7,0,0.0,0.0,0.0,0,0.000000,5.969000e+06,50.7,2511,121,23.5,61.23,4.000000,21.350000,13.840000,43
nice,4700,3217.33,0.31,0.769,12.9,0,0.0,0.0,0.0,0,0.000000,2.582700e+06,59.5,72,61,35,59.01,37.000000,38.370000,55.040000,53.4
oslo,4268,3225.5,0.22,0.967,5.9,0,0.0,1.0,0.0,1,0.000000,1.500000e+06,49.9,454,113,77.2,64.99,45.000000,31.310000,38.580000,63.5
singapore,7810,3966.83,0.32,0.967,26.7,0,0.0,0.0,0.0,0,0.000000,1.976080e+07,50,728,167,75,67.02,31.000000,31.620000,56.790000,53.1
tel_aviv,8468,3269.83,0.46,0.964,20.5,0,0.0,1.0,0.0,1,0.000000,2.978100e+06,62.5,52,48,56,74.4,56.000000,36.570000,37.880000,56.08